.banner {
  width: 100%;
}

.banner {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.banner .nilesafarivideo {
  width: 50%;
}

.banner .nilesafarivideo .videobg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner .leftsider {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner .leftsider .content {
  width: 100% !important;
}

.banner .leftsider .content .more-content {
  width: 65% !important;
  text-align: center;
  float: right;
  margin-top: 0 !important;
  margin-right: 40px;
}

.banner .leftsider .content h1 {
  margin: 0 auto 47px;
  font-size: 50px;
}

.banner .leftsider .content p {
  color: #A2A3B3;
  font-size: 18px;
}

.banner .leftsider .content .btn-section {
  margin: 47px auto 0;
}

.banner .leftsider .content .btn-section .btn {
  margin: 0 15px 0;
  border: 2px solid #E23744;
}

.banner .leftsider .content .btn-section .btn-bg-1 {
  background: #E23744;
  color: #fff;
}

.banner .leftsider .content .btn-section .btn-bg-2 {
  background: transparent;
  color: #E23744;
}

.banner .leftsider .content .btn-section .btn:hover {
  background: #E23744;
  /* transition: 0.3s; */
  transition: 0.3s;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .banner .nilesafarivideo {
    display: none;
  }
  
  .banner .leftsider {
    width: 100%;
  }

  .banner .leftsider .content {
    margin: auto;
    width: 85%;
  }

  .banner .leftsider .content h1 {
    font-size: 37px;
    margin: 0 auto 35px;
  }
  
  .banner .leftsider .content p {
    font-size: 17px;
  }
  
  .banner .leftsider .content .btn-section {
    margin: 35px auto 0;
  }

  .banner .leftsider .content .btn-section .btn {
    height: 50px;
  }

  .banner .leftsider .content .btn-section .btn-bg-2 {
    margin: 17px 0 0;
  }
}
