.cardio {
  padding: 30px 120px;
  width: 67%;
  color: #fff !important;
  position: relative;
  margin: -50px auto 0;
  z-index: 1;
  background: #E23744;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.07), -5px -3px 10px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.cardio .cardio-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.cardio .cardio-content .videobg {
  margin: 0;
}

.cardio .cardio-content .content {
  text-align: center;
}

.cardio .cardio-content .content h3 {
  /* font-size: 27px; */
  color: #fff !important;
  margin-bottom: 25px;
  /* font-family: Montserrat-Bold; */
}

.cardio .cardio-content .content p {
  /* font-size: 17px; */
}

.cardio .cardio-content .btn {
  /* margin: 0; */
  /* outline: none; */
  /* font-family: Montserrat-Bold; */
  /* font-size: 17px;
  text-transform: uppercase; */
  /* height: 55px;
  width: 170px; */
  /* transition: 0.3s;
  border-radius: 5px; */
}

.cardio .cardio-content .btn-bg-1 {
  /* background: transparent;
  color: #fff; */
  border: 2px solid #E23744 !important;
}

/* .cardio .cardio-content .btn-bg-1:hover {
  background: #fff;
  transition: 0.3s;
  color: #E23744;
} */

@media (min-width: 320px) and (max-width: 767px) {
  .cardio {
    padding: 70px 37px;
    width: 80%;
    margin: 0 auto;
  }
  
  .cardio .cardio-content {
    flex-direction: column;
  }

  .cardio .cardio-content .videobg {
    margin: 0 0 50px;
  }

  .cardio .cardio-content .btn {
    margin: 50px 0 0;
  }
  
}
