/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: Montserrat-Regular; 
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('./assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('./assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Black;
  src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf');
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat-Regular;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: Montserrat-ExtraBold;
  /* font-weight: normal; */
  /* font-weight: 900; */
}

/* h2 {
  font-size: 27px;
}

h3 {
  font-size: 23px;
} */

p,
span {
  margin: 0;
  padding: 0;
  font-size: 17px;
  /* line-height: 1.37; */
  /* font-weight: bold; */
}

.custom-elevation-z2 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08) !important;
  /* box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.07), -5px -3px 10px rgba(0, 0, 0, 0.07); */
  border-radius: 7px !important;
}

.show {
  position: fixed !important;
  transition: all .5s;
  top: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  p {
    font-size: 15px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
