.body {
  /* background-color: #e7e9f2 #eff1f9; */
  /* background-color: white; */
  /* background: #fbfbfb !important; */

  /* background: #eb01a5; */
  /* background-image: url("IMAGE_URL"); fallback */
  /* background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531); */

  /* background: linear-gradient( 310.6deg, #f09537 37.8%, #ed6f33 90.8%); */

  background-image: linear-gradient(
      310.6deg,
      rgba(240, 147, 55, 0.7) 37.8%,
      rgba(237, 110, 51, 0.7) 90.8%
    ),
    url("../../assets/images/splash/login-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: #334151;
}

.reset-body {
  min-height: 100vh;
  color: #334151;
}

.login-card-footer-text a:hover,
.form-options-wrapper a:hover {
  text-decoration: none;
  color: #8760fb !important;
  transition: 0.3s;
}

@media (max-width: 767px) {
  body {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.login-card {
  width: 441px;
  border-radius: 7px;
  /* border: 0; */
  background-color: #fff;
  border: 1px solid  #ed6f33 !important;
  box-shadow: -7px -7px 7px rgba(0, 0, 0, 0.05), 7px 7px 7px rgba(0, 0, 0, 0.05) !important;
}
@media (max-width: 767px) {
  .login-card {
    width: auto;
  }
}
.login-card .card-body {
  padding: 55px 55px 50px;
}
.login-card-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  /* color: #000; */
  margin-bottom: 13px;
}
.login-card-description {
  font-size: 20px;
  /* color: #000; */
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
}
.login-card .form-control {
  /* f5f5f5; */
  border: 1px solid #e1e6f1;
  padding: 16px 18px;
  margin-bottom: 18px;
  border-radius: 0;
  min-height: 48px;
  font-size: 14px;
  font-weight: normal;
}
.login-card .form-control::-webkit-input-placeholder {
  color: #b0adad;
}
.login-card .form-control::-moz-placeholder {
  color: #b0adad;
}
.login-card .form-control:-ms-input-placeholder {
  color: #b0adad;
}
.login-card .form-control::-ms-input-placeholder {
  color: #b0adad;
}
.login-card .form-control::placeholder {
  color: #b0adad;
}
.login-card-check-box {
  padding-left: 34px;
}
@media (max-width: 767px) {
  .login-card-check-box {
    margin-bottom: 10px;
  }
}
.login-card-check-box .custom-control-label::before {
  width: 24px;
  height: 21px;
  border: solid 1px #f5f5f5;
  left: -34px;
  top: 0px;
}
.login-card-check-box .custom-control-label::after {
  left: -34px;
  width: 24px;
  height: 21px;
  top: 0;
}
.login-card .login-btn {
  padding: 13px 20px;
  border: 1px solid #ed6f33;
  transition: 0.3s;
  /* background-color:#ed6f33; */
  background: linear-gradient(310.6deg, #f09537 37.8%, #ed6f33 90.8%);
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.login-card .login-btn:hover {
  border: 1px solid #ed6f33;
  background: #fff;
  color: #ed6f33;
  transition: 0.5s;
}

.login-card .login-btn:focus {
  border: 1px solid #ed6f33 !important;
  /* background: #fff; */
  background: linear-gradient(310.6deg, #f09537 37.8%, #ed6f33 90.8%) !important;
  /* color: #ed6f33; */
  color: #fff;
  transition: 0.5s;
}

.login-btn-spinner {
  margin: 0 10px 4px 0 !important;
  padding: 0 !important
}

/* .btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 1px rgb(135, 96, 251);
} */
.login-card-footer-text {
  font-size: 13px;
  /* color: #000; */
  text-align: center;
  /* margin-bottom: 0; */
}

.form-options-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  /* color: #000; */
}
@media (max-width: 767px) {
  .form-options-wrapper {
    display: block;
  }
}

.footer-content-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: #919aa3;
  padding-top: 45px;
  padding-bottom: 45px;
}
@media (max-width: 576px) {
  .footer-content-wrapper {
    display: block;
    text-align: center;
  }
}
.footer-content-wrapper a {
  color: inherit;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer-content-wrapper a:hover {
  text-decoration: none;
  color: #8760fb;
}

/*# sourceMappingURL=login.css.map */


.dropify-wrapper {
  border: 2px dashed #f3f3f3;
  border-radius: 7px;
}
.dropify-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 22px;
  color: #777;
  background-color: #FFF;
  background-image: none;
  text-align: center;
  border: 2px solid #E5E5E5;
  -webkit-transition: border-color .15s linear;
  transition: border-color .15s linear;
}
.dropify-wrapper .dropify-message {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropify-wrapper .dropify-message span.file-icon {
  font-size: 50px;
  color: #CCC;
}
.dropify-wrapper .dropify-message p.dropify-error {
  color: #F34141;
  font-weight: 700;
  display: none;
}
.dropify-wrapper .dropify-message p {
  font-size: .8125rem;
  color: #12131a;
}
.dropify-wrapper .dropify-message p {
  margin: 5px 0 0;
}
.dropify-wrapper .dropify-loader {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  z-index: 9;
}

.dropify-wrapper .dropify-errors-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(243,65,65,.8);
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s linear .15s,opacity .15s linear;
  transition: visibility 0s linear .15s,opacity .15s linear;
}
.dropify-wrapper .dropify-errors-container ul {
  padding: 10px 20px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropify-wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

.dropify-wrapper.has-error .dropify-message .dropify-error, .dropify-wrapper.has-preview .dropify-clear {
  display: block;
}
.dropify-wrapper .dropify-clear {
  background: #fff;
  border: none;
  font-weight: 700;
  color: #889da5;
}

.dropify-wrapper .dropify-clear {
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 7;
  top: 10px;
  right: 10px;
  background: 0 0;
  border: 2px solid #FFF;
  text-transform: uppercase;
  font-size: 11px;
  padding: 4px 8px;
  font-weight: 700;
  color: #FFF;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.dropify-wrapper .dropify-preview {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #FFF;
  padding: 5px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
}

.dropify-wrapper .dropify-preview .dropify-render img {
  opacity: 0.7;
}

.dropify-wrapper .dropify-preview .dropify-render img {
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-color: #FFF;
  -webkit-transition: border-color .15s linear;
  transition: border-color .15s linear;
}

img {
  vertical-align: middle;
  border-style: none;
}

.dropify-wrapper .dropify-preview .dropify-infos {
  background: rgba(255, 255, 255, 0.9);
}

.dropify-wrapper .dropify-preview .dropify-infos {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(0,0,0,.7);
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-40%);
  transform: translate(0,-40%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  padding: 0 20px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner .dropify-filename {
  color: #FF7200;
  font-size: 20px;
  font-weight: 400;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename span.file-icon {
  margin-right: 2px;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message {
  margin-top: 15px;
  padding-top: 15px;
  font-size: 12px;
  position: relative;
  opacity: .5;
}

.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner .dropify-infos-message {
  color: #333;
  font-weight: 500;
}
.dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFF;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
}
